<div class="main-content" >
        <div style="height: 100%;">
        <div
          style="height: 10%; font-size: 1.8em;display: flex;justify-content: center;align-items: center;"        >
          <b>Login</b>
        </div>
        <div
          style="height: 15%;display: flex;justify-content: center;align-items:center;flex-direction:column;color:#ccc;font-size:0.9em;"
        >
          <span>For instance Login to your AppName account,</span>
          <span>just enter your valid, Email Id and password</span>
        </div>
        <form style="">
          <div class="form-group" style="">
            <label for="userType" style="font-size:1.1em;">User Type</label>
            <select [(ngModel)]="userType" name="userType" class="form-control" 
              aria-placeholder="Select User Type">
              <option value="">Select User Type</option>
              <option value="teacher"> Teacher </option>
              <option value="parent"> Parent </option>
            </select>
          </div>
          <div class="form-group" style="height : 45%">
            <label for="email" style="font-size:1.1em;">Email:</label>
            <input type="email" 
            [(ngModel)] = "user.email"
            style="height:45%" 
            class="form-control" 
            placeholder="Enter email"
            name="email"
            />
          </div>
          <div class="form-group" style="height : 45%">
            <label for="pwd" style="font-size:1.1em;">Password:</label>
            <input type="password"
              [(ngModel)] = "user.password"
              style="height:45%" 
              class="form-control"
              name="password"
              placeholder="Enter password"/>
          </div>
        </form>
        <div class="option login"
        (click)="onLogin($event)"
        >
          <b>Login</b>
        </div>
        <!-- <a
          style="display:flex; justify-content:center; margin-top : 5%;"
          (click)="signUp($event)"
          >
            <span><b><u>Sign Up</u></b></span>
        </a> -->
        <!-- <div
          style="
            height: 25%;
          "
        ></div> -->
      </div>
      </div>