
.main-content{
    background: white;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 6%;
    padding-right: 6%;
}

.login{
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width : 100%
}