@import url("./../../../global/theme.scss");
.main{
    background: white;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 6%;
    padding-right: 6%;
}

.login{
    text-align: center;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}