.login{
    text-align: center;
    height: 8%;
    background: linear-gradient(to right, red, yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}