<app-header
headerText="Homework"
backUrlString="adminOption" 
></app-header>
<main-content>
    <div style="height : 100%;margin: 5%;">
    <div class="card" style="margin-bottom: 10%;padding : 5%;font-size: 1.4em">
        <span>Mathematics</span>
    </div>
    <div class="card" style="height:20%">
        <div class="card-body" style="padding:5%">
          <p>
              <span class="key">Assigned By</span>
              <span class="value teacher">Pawan Malhotra Sir</span>
          </p>
          <p><span class="key">Assigned On</span>
            <span class="value">21-AUG-2018</span></p>
          <p>
              <span class="key">End Date</span> 
              <span class="value">21-AUG-2018</span>
          </p>
          <p>
              <span class="key">Submitted On</span>
              <span  class="value">21-AUG-2018</span>
          </p>
          <p>
              <span class="key">Class Timing</span>
              <span  class="value">(8:00 AM - 9:00 AM)</span>
          </p>
        </div>
    </div>
    <div class="card" style="padding:5%;margin-bottom: 0;min-height: 40%;overflow:scroll;min-height: 40vh">
        <div class="card-header" style="justify-content: flex-start">
            Homework Header
        </div>
        <div class="card-body" style="height:90%;align-items: flex-start">
          <span>Write 10 times I love INDIA</span>
        </div>
    </div>
    </div>
</main-content>